<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <h1>Profil Sayfası</h1>
  <h2> <%=kisi%> kişisinin profili görüntüleniyor.   </h2>
    <style>
        body {
          background-color: lightblue;
        }
        
        h1 {
          color: white;
          text-align: center;
        }

        h2{
            color: blueviolet;
            text-align: center;

        }
        
        p {
          font-family: verdana;
          font-size: 20px;
        }
        </style>



</body>
</html>